<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oclinic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- login form -->
    <div class="loginForm {{className}}">
        <form action="/login" method="POST" id="loginContainer" class="loginContainer">
            <header><h3>Đăng nhập</h3></header>
            <div class="name">
                <input type="text" id="phoneNum" name="phoneNum">
                <label for="phoneNum">Số điện thoại</label>
            </div>
            <div class="password">
                <input type="password" name="pass" id="pass">
                <label for="pass">Mật khẩu</label>
                <i class="far fa-eye-slash"></i>
            </div>
            <p class="announcement">Sai mật khẩu hoặc tài khoản không tồn tại</p>
            <div class="forgetPass">
                <a href="#">Quên mật khẩu/</a>
                <a href="#" class="regist">Đăng ký</a>
            </div>
            <div class="form-group">
                <div class="role">
                    <input type="radio" id="patient" name="role" value="patient">
                    <label for="male">Bệnh nhân</label>
                    <input type="radio" id="doctor" name="role" value="doctor">
                    <label for="female">Bác sĩ</label>
                    <input type="radio" id="admin" name="role" value="admin">
                    <label for="female">Quản lý</label>
                </div>
            </div>
            <div class="buttonBox">
                <button type="submit" form="loginContainer" value="submit">Đăng nhập</button>
            </div>
            <a href="/"><i class="fas fa-times"></i></a>
        </form>
    </div>

    <!-- Register form -->
    <div class="registerForm {{className1}}">
        <form action="/register" method="POST" id="registerContainer" class="registerContainer">
            <header><h3>Đăng ký tài khoản</h3></header>
            <div class="form-group">
                <div class="name">
                    <input type="text" id="name" name="name">
                    <label for="name">Họ và tên (Đúng với CCCD)</label>
                </div>
                <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Không được bỏ trống ô này</span>
            </div>
            <div class="form-group">
                <div class="IDnumber">
                    <input type="text" id="idNum" name="idNum">
                    <label for="idNum">Số CCCD</label>
                </div>
                    <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Không được bỏ trống ô này </span>
            </div>
            {{!-- <div class="IDinsurance">
                <input type="text" id="IDinsurance" name="IDinsurance">
                <label for="IDinsurance">Mã BHYT</label>
            </div> --}}
            <div class="form-group">
                <div class="DoB">
                    <input type="date" id="Dob" name="Dob">
                    <label for="Dob">Ngày sinh</label>
                </div>
                <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Không được bỏ trống ô này</span>
            </div>
            <div class="form-group">
                <div class="sex">
                    <label for="" class="sex__tit">Giới tính: </label>
                    <input type="radio" id="male" name="sex" value="1">
                    <label for="male">Nam</label>
                    <input type="radio" id="female" name="sex" value="0">
                    <label for="female">Nữ</label>
                </div>
            </div>
            <div class="form-group">
                <div class="email">
                    <input type="email" id="email" name="email">
                    <label for="email">Email</label>
                </div>
                    <span class="form-message"><i class="fas fa-exclamation-triangle"></i> </span>
            </div>
            <div class="form-group">
                <div class="phoneNum">
                    <input type="text" id="phoneNum" name="phoneNum">
                    <label for="phoneNum">Di động</label>
                </div>
                    <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Không được bỏ trống ô này</span>
            </div>
            <div class="form-group">
                <div class="password">
                    <input type="password" name="pass" id="pass">
                    <label for="pass">Mật khẩu</label>
                    <i class="far fa-eye-slash"></i>
                </div>
                    <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Mật khẩu ít nhất 9 ký tự và không bao gồm ký tự đặc biệt</span>
            </div>
            <div class="form-group">
                <div class="retype">
                    <input type="password" name="retype" id="retype">
                    <label for="retype">Mật khẩu</label>
                    <i class="far fa-eye-slash"></i>
                </div>
                    <span class="form-message"><i class="fas fa-exclamation-triangle"></i> Nhập sai mật khẩu</span>
            </div>
            <div class="buttonBox">
                <button type="submit" form="registerContainer" value="submit">Đăng ký</button>
            </div>
            <a href="/"><i class="fas fa-times"></i></a>
        </form>
    </div>



    <main>
        <!-- header starts -->

        {{!-- <header class="header">

            {{> header}}

        </header> --}}

        <!-- header ends -->


        <!-- home starts -->

        <section class="body">

            {{{body}}}

        </section>

        <!-- home ends -->
{{!-- 
        <section class="body">
            {{{body}}}
        </section> --}}


        <!-- footer starts -->
    
        <footer class="footer">
            
            {{> footer}}
    
        </footer>
    
        <!-- footer ends -->
    </main>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/script/register.js"></script>
<script src="/script/news.js"></script>
<script src="/script/app.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>