.bills{
    .content{
        width: 96.86%;
        .bill-title{
            h2{
                display: block;
                text-align: center;
            }
            h2.logo{
                    color: $darkBlueColor;
                    font-weight: bold;
                    font-size: 2.8rem;
                    letter-spacing: 5%;
                    i{
                        color: $whiteColor;
                        font-size: 36px;
                    }
                    span{
                        color: $redColor;
                        font-size: 36px;
                    }
            }
            h2.tit{
                font-size: 2.8rem;
                text-transform: uppercase;
                color: $lightBlueColor;
                font-weight: bold;
            }
        }
        .bill-date{
            text-align: right;
            padding: 2rem 4rem;
            font-size: 2.4rem;
            font-style: italic;
            color: $darkBlueColor;
            text-transform: none;
        }
        .bill-main{
            padding: 4rem;
            h2{
                font-size: 2rem;
                color: $darkBlueColor;
                padding: 1rem 0;
                text-transform: none;
            }
            table{
                font-size: 2rem;
                color: $darkBlueColor;
                padding: 1rem 0;
                border: .1rem solid $darkBlueColor;
                text-transform: none;
            }
        }
        .total{
            display: flex;
            justify-content: space-between;
            padding: 0 4rem;
            h3{
                font-size: 2rem;
                color: $darkBlueColor;
                text-transform: none;
            }
            p{
                font-size: 2rem;
                color: $darkBlueColor;
            }
        }
        .ctotal{
            padding: 0 4rem;
            font-size: 2rem;
            color: $darkBlueColor;
            text-transform: none;
        }
        .warning{
            padding: 1rem;
            font-size: 1.6rem;
            color: $redColor;
            font-style: italic;
            text-align: right;
            text-transform: none;
        }
        .thanks{
            h3{
                padding: 3rem 0 5rem;
                font-size: 2.4rem;
                color: $lightBlueColor;
                text-transform: none;
                text-align: center;
                i{
                    font-size: 2.8rem;
                }
            }
        }
    }
}