$whiteColor: #fff;
$lightSilverColor: #F0F4F5;
$mediumSilverColor: #D0D8DA;
$darkSilverColor: #AABEC6;
$lightBlueColor: #009ABB;
$mediumBlueColor: #007C92;
$darkBlueColor: #09425A;
$redColor: #D00303;
$primaryShadow: 0 0 1rem rgba(0, 0, 0, 0.2);