<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/sass/style.css">
    <link rel="stylesheet" href="./assets/font/fontawesome-free-5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
</head>
<body>

    <!-- login form -->
    <div class="loginForm">
        <form action="" id="loginContainer" class="loginContainer">
            <header><h3>Đăng nhập</h3></header>
            <div class="name">
                <input type="text" id="id" name="id">
                <label for="id">ID/email</label>
            </div>
            <div class="password">
                <input type="password" name="pass" id="pass">
                <label for="pass">Mật khẩu</label>
                <i class="far fa-eye-slash"></i>
            </div>
            <p class="announcement">Sai mật khẩu hoặc tài khoản không tồn tại</p>
            <div class="forgetPass">
                <a href="#">Quên mật khẩu/</a>
                <a href="#" class="regist">Đăng ký</a>
            </div>
            <div class="buttonBox">
                <button type="submit" form="loginContainer" value="submit">Đăng nhập</button>
            </div>
            <i class="fas fa-times"></i>
        </form>
    </div>

    <!-- Register form -->
    <div class="registerForm">
        <form action="" id="registerContainer" class="registerContainer">
            <header><h3>Đăng ký tài khoản</h3></header>
            <div class="name">
                <input type="text" id="name" name="name">
                <label for="name">Họ và tên (Đúng với CCCD)</label>
            </div>
            <div class="IDnumber">
                <input type="text" id="IDnum" name="IDnum">
                <label for="IDnum">Số CCCD</label>
            </div>
            <div class="IDinsurance">
                <input type="text" id="IDinsurance" name="IDinsurance">
                <label for="IDinsurance">Mã BHYT</label>
            </div>
            <div class="DoB">
                <input type="time" id="Dob" name="Dob">
                <label for="Dob">Ngày sinh</label>
            </div>
            <div class="sex">
                <label for="" class="sex__tit">Giới tính: </label>
                <input type="radio" id="male" name="male">
                <label for="male">Nam</label>
                <input type="radio" id="female" name="female">
                <label for="female">Nữ</label>
            </div>
            <div class="email">
                <input type="email" id="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="phoneNum">
                <input type="text" id="phoneNum" name="phoneNum">
                <label for="phoneNum">Di động</label>
            </div>
            <div class="password">
                <input type="password" name="pass" id="pass">
                <label for="pass">Mật khẩu</label>
                <i class="far fa-eye-slash"></i>
            </div>
            <div class="retype">
                <input type="password" name="retype" id="retype">
                <label for="retype">Mật khẩu</label>
                <i class="far fa-eye-slash"></i>
            </div>
            <div class="buttonBox">
                <button type="submit" form="registerContainer" value="submit">Đăng ký</button>
            </div>
            <i class="fas fa-times"></i>
        </form>
    </div>



    <main>
        <!-- header starts -->

        <header class="header">

            <div class="taskbar">
                <div class="taskbar__name">
                    <!-- <form action="" ></form> -->
                    <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
                    <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
                    
                    <div href="#" class="taskbar__bell">
                        <i class="fas fa-bell">
                        </i>
                        <ul class="annouce_list">
                            <li><a href="#">Thông báo 1</a></li>
                            <li><a href="#">Thông báo 2</a></li>
                            <li><a href="#">Thông báo 3</a></li>
                            <li><a href="#">Thông báo 4</a></li>
                            <a href="#"><span>XEM TẤT CẢ</span></a>
                        </ul>
                    </div>
                    <div class="taskbar__user">
                        <!-- <img src="./assets/img/9long.png" alt="" class="taskbar__user__img"> -->
                        <!-- <ul class="taskbar__account">
                        
                        </ul> -->
                        <a href="#" class="user">
                            <i class="fas fa-user"></i>
                            <ul class="user__options">
                                <li><a href="#" class="login">Đăng nhập</a></li>
                                <li><a href="#" class="regist">Đăng ký</a></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="menu__main">                                              
                    <a href="#" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
                    <ul class="menu__list">
                        <li class="menu__item"><a href="./index.html">Trang chủ</a></li>
                        <li class="menu__item active"><a href="./_intro.html">Giới thiệu</a></li>
                        <li class="menu__item"><a href="./_news.html">Tin tức</a></li>
                        <li class="menu__item doctors"><a href="./_doctor.html">Bác sĩ
                            <ul class="doctor">
                                <li><a href="#">Ngoại khoa</a></li>
                                <li><a href="#">Nội Khoa</a></li>
                                <li><a href="#">Nhi Khoa</a></li>
                            </ul>
                        </a></li>
                        <li class="menu__item large"><a href="#">Bài viết chuyên môn</a></li>
                        <li class="menu__item"><a href="#">Tư vấn</a></li>
                        <li class="menu__item"><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

        </header>

        <!-- header ends -->


        <!-- home starts -->

        <div class="submenu">
            <ul class="submenu__main">
                <li><a href="#">Giới thiệu chung</a></li>
                <li><a href="#oclinic_intro">Tư vấn khám bệnh Online</a></li>
                <li><a href="#payment">Phương thức thanh toán</a></li>
                <li><a href="#payment">Bảng giá dịch vụ</a></li>
            </ul>
        </div>
        <section class="home homeIntro">
            <div class="general_intro" id="general_intro">
                <div class="content">
                    <img src="./assets/img/hosp4.jpg" alt="">
                    <h3>Bệnh viện đa khoa ABC</h3>
                    <h4>Địa chỉ: Số 64, đường DEF, quận GHI, thành phố OPQ</h4>
                    <h4>Giám đốc: Gs Trần Hoàng A</h4>
                    <h4>Bệnh viện tư nhân trực thuộc tập đoàn ABC</h4>
                    <p class="bio">
                        Bệnh viện đa khoa ABC trực thuộc tập đoàn ABC, toạ lạc tại trung tâm thành phố OPQ, từ lâu đã trở thành địa điểm khám chữa bệnh tin cậy của cư dân thành phố cũng như cư dân ngoại thành. Được thành lập từ năm 2010, bệnh viện ABC đã nhanh chóng gặt hái được nhiểu thành công lớn như nghiên cứu thành công phương pháp giảm thiểu tai biến mạch máu não cho người độ tuổi trung niên, công bố đề tài nghiên cứu phòng chống ung thư gan,... Bên cạnh đó, bệnh viện ABC còn dành được nhiểu giải thường y tế lớn từ trong và ngoài nước và trở thành 1 trong top 10 bệnh viện đa khoa hàng đầu Việt Nam 
                    </p>
                    <h4>Cơ sở vật chất</h4>
                    <p>Bệnh viện ABC cung cấp dịch vụ khám chữa bệnh cao cấp với toàn bộ trang thiết bị chất lượng cao, nhập khẩu trực tiếp từ các doanh nghiệp cung cấp trang thiết bị y tế hàng đầu quốc tế</p>
                    <img src="./assets/img/hosp1.jpg" alt="Trangthietbi">
                    <img src="./assets/img/hosp2.jpg" alt="Trangthietbi">
                    <h4>Đội ngũ y bác sĩ</h4>
                    <p>Đội ngũ y bác sĩ của bệnh viện ABC là các Giáo sư, 
                        Phó giáo sư tiên sĩ với học vấn, chuyên môn cao, nhiều năm kinh nghiệm trong nghề. Với sự tâm huyết, nhiệt tình và kinh nghiệm của mình, các bác sĩ sẽ đem lại trải nghiệm hài lòng cho bệnh nhân. Bên cạnh đó, đội ngũ điều dưỡng, y tá được đào tạo chuyên nghiệp, đạt chuẩn quốc tế. 
                    </p>
                    <div class="pairs_img">
                        <img src="./assets/img/hosp5.jpg" alt="bacsi">
                        <img src="./assets/img/hosp6.jpg" alt="bacsi">
                    </div>
                </div>
            </div>
            <div class="oclinic_intro" id="oclinic_intro">
                <div class="content">
                    <h3>Website tư vấn khám bệnh online Oclinic</h3>
                    <h4>Mục đích ra đời</h4>
                    <p>Với sự phát triển của công nghệ và để đáp ứng nhu cầu khám chữa bệnh của bệnh nhân trong tình hình dịch Covid19, bệnh viện ABC đã thực hiện dự án "Tư vấn khám bệnh online" với hình thức website. Chỉ với 1 thiết bị thông minh như smartphone, laptop, tablet,... có khả năng kết nối Internet bạn có thể dễ dàng truy cập vào trang web của chúng tôi tại đường link <a href="#">www.oclinic.com</a>. Trang web hỗ trợ bạn đăng kí tư vấn với các bác sĩ của bệnh viện ABC. Bên cạnh đó bạn có thể tìm hiểu thêm thông tin bệnh viện, đọc các bài viết phổ cập kiến thức sức khoẻ.</p>
                    <h4>Các chức năng chính</h4>
                    <ul class="list">
                        <li>- Tư vấn khám bệnh</li>
                        <li>- Tư vấn dịch vụ tại bệnh viện ABC</li>
                        <li>- Đọc tin tức, bài viết chuyên môn</li>
                        <li>- Tìm kiếm thông tin bác sĩ</li>
                    </ul>
                    <h4>Cách sử dụng trang web:</h4>
                    <div class="usage">
                        <div class="usage__step">
                            <img src="./assets/img/step1.png" alt="">
                            <div class="usage__step__content">
                                <span>Bước 1:</span>
                                <p>Trên giao diện trang web, di chuột vào user, chọn đăng ký</p>
                            </div>
                        </div>
                        <div class="usage__step">
                            <div class="usage__step__content">
                                <span>Bước 2:</span>
                                <p>Điền đầy đủ thông tin vào form và nhấn đăng ký</p>
                            </div>
                            <img src="./assets/img/step2.PNG" alt="">
                        </div>
                        <div class="usage__step">
                            <img src="./assets/img/step3.PNG" alt="">
                            <div class="usage__step__content">
                                <span>Bước 3:</span>
                                <p>Tại user, chọn đăng nhập, điền đầy đủ thông tin đăng nhập và nhấn đăng nhập</p>
                            </div>
                        </div>
                        <div class="usage__step">
                            <img src="" alt="">
                            <div class="usage__step__content">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="usage__step">
                            <img src="" alt="">
                            <div class="usage__step__content">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment" id="payment">
                <div class="content">
                    <h3>Hình thức thanh toán viện phí tư vấn</h3>
                    <h4>Bệnh nhân sẽ nhận được hoá đơn viện phí vào ngày cuối cùng của tháng và sẽ thanh toán viện phí Online qua 1 trong các tài khoản sau:</h4>
                    <div class="container">
                        <div class="row row-cols-4">
                          <div class="col">
                              <div class="col__img">
                                <img src="./assets/img/bank1.png" alt="">
                              </div>
                              <div class="col_add">
                                  
                              </div>
                          </div>
                          <div class="col">
                              <div class="col__img">
                                <img src="./assets/img/bank2.png" alt="">
                              </div>
                              <div class="col_add">
                                  
                              </div>
                          </div>
                          <div class="col">
                              <div class="col__img">
                                <img src="./assets/img/bank3.png" alt="">
                              </div>
                              <div class="col_add">
                                  
                              </div>
                          </div>
                          <div class="col">
                              <div class="col__img">
                                <img src="./assets/img/bank4.png" alt="">
                              </div>
                              <div class="col_add">
                                  
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="services-cost">
                <div class="content">
                    <h3>Bảng giá dịch vụ tư vấn</h3>
                    <table class="table">
                        <thead>
                          <tr class="table-dark">
                            <th scope="col">STT</th>
                            <th scope="col">Khoa khám</th>
                            <th scope="col">Trình độ bác sĩ</th>
                            <th scope="col">Giá (đồng/lần)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Ngoại khoa</td>
                            <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                            <td>100.000</td>
                          </tr>
                          <tr class="table-info">
                            <th scope="row">2</th>
                            <td>Ngoại khoa</td>
                            <td>Thạc sĩ</td>
                            <td>60.000</td>
                          </tr>
                          <tr class="table-light">
                            <th scope="row">3</th>
                            <td>Nội khoa</td>
                            <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                            <td>120.000</td>
                          </tr>
                          <tr class="table-info">
                            <th scope="row">4</th>
                            <td>Nội Khoa</td>
                            <td>Thạc sĩ</td>
                            <td>75.000</td>
                          </tr>
                          <tr class="table-light">
                            <th scope="row">5</th>
                            <td>Nhi khoa</td>
                            <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                            <td>90.000</td>
                          </tr>
                          <tr class="table-info">
                            <th scope="row">6</th>
                            <td>Nhi Khoa</td>
                            <td>Thạc sĩ</td>
                            <td>50.000</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </section>

        <!-- home ends -->


        <!-- footer starts -->
    
        <footer class="footer">
    
            <div class="footer__top">
                <div class="footer__content">
                    <div class="footer__support footer__column">
                        <h3>Hỗ trợ chăm sóc khách hàng</h3>
                        <ul class="list">
                            <li><a href="#">Hotline chăm sóc khác hàng 0123456789</a></li>
                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                            <li><a href="#">Hướng dẫn đăng kí tài khoản</a></li>
                            <li><a href="#">Chính sách thanh toán chi phí</a></li>
                            <li><a href="#">Hỗ trợ khách hàng: hotro@oclinic.vn</a></li>
                            <li><a href="#">Báo lỗi bảo mật: security@oclinic.vn</a></li>
                        </ul>
                    </div>
                    <div class="footer__about footer__column">
                        <h3>Về chúng tôi</h3>
                        <ul class="list">
                            <li><a href="#">Nhóm thực hiện</a></li>
                            <li><a href="#">Đỗ Hải Long</a></li>
                            <li><a href="#">Lê Văn Nhật</a></li>
                            <li><a href="#">Hoàng Văn Nam</a></li>
                            <li><a href="#">Nguyễn Mạnh Duy</a></li>
                            <li><a href="#">Nguyễn Văn Thắng</a></li>
                        </ul>
                    </div>
                    <div class="footer__contact footer__column">
                        <h3>Liên Hệ với chúng tôi</h3>
                        <ul class="list">
                            <li><a href="#"><i class="fab fa-facebook"></i>https://facebook.com/oclinic _fanpage</a></li>
                            <li><a href="#"><i class="fab fa-google"></i>oclinic@gmail.com</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i>https://twitter.com/oclinic</a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i>https://instagram.com/oclinic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <p>© 2021 - Bản quyền thuộc nhóm 7 KTPMUD - Oclinic.vn</p>
            </div>
    
        </footer>
    
        <!-- footer ends -->
    </main>



    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./script/app.js"></script>
</body>
</html>