{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
        <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                <li><a href="#">Thông báo 1</a></li>
                <li><a href="#">Thông báo 2</a></li>
                <li><a href="#">Thông báo 3</a></li>
                <li><a href="#">Thông báo 4</a></li>
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            <!-- <img src="./assets/img/9long.png" alt="" class="taskbar__user__img"> -->
            <!-- <ul class="taskbar__account">
            
            </ul> -->
            <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="#" class="login">Đăng nhập</a></li>
                    <li><a href="#" class="regist">Đăng ký</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/surgery">Ngoại khoa</a></li>
                    <li><a href="#">Nội Khoa</a></li>
                    <li><a href="#">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large active"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}



<section class="articleHome home">
    
    <div class="article_home">
        <div class="content">
            <div class="main_art">
                <div class="latest_art">
                    <div class="latest_art__img">
                        <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/unnamed-5-1621335069-1902-1621-3499-7491-1641440149.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=QEjV1U9IkaA9MnrXIilkkg" alt=""></a>
                    </div>
                    <div class="latest_art__content">
                        <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Hồi phục sau Covid bằng 5 bữa ăn hàng ngày</h3></a>
                        <p>Sau khỏi Covid, nên ăn đa dạng thực phẩm, tăng cường hoa quả, rau xanh, uống nhiều nước; chia thành ít nhất 5 bữa một ngày để nhanh hồi phục. </p>
                    </div>
                </div>
                <div class="article_list">
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                    <div class="article_item">
                        <div class="article_item__content">
                            <a href="https://vnexpress.net/hoi-phuc-sau-covid-bang-5-bua-an-hang-ngay-4411741.html"><h3 class="title">Giúp trẻ tăng cân bằng dinh dưỡng tăng cường miễn dịch</h3></a>
                            <p>Sữa non ColosIgG 24h chứa nhiều kháng thể IgG giúp trẻ tăng cường miễn dịch, chống lại virus, vi khuẩn gây bệnh để khỏe mạnh và tăng trưởng. </p>
                        </div>
                        <div class="article_item__img">
                            <a href="#"><img src="https://i1-suckhoe.vnecdn.net/2022/01/06/1-jpg-5299-1641465465.png?w=300&h=180&q=100&dpr=1&fit=crop&s=6npS2z47qTL0ByZhDFVXrw" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub_art">
                <h2 class="sub_art__tit">BÀI VIẾT MỚI</h2>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
                <div class="sub_art__item">
                    <div class="sub_art__item__img"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html" class="img"><img src="https://i1-suckhoe.vnecdn.net/2021/12/22/Image-ExtractWord-1-Out-7934-1640138782.png?w=300&h=180&q=100&dpr=1&fit=crop&s=q7V8K1oTQCsfs57kSKE1vA" alt=""></a></div>
                    <div class="sub_art__item__tit"><a href="https://vnexpress.net/ly-do-sua-chua-la-khoan-dau-tu-cho-suc-khoe-lau-dai-4406209.html"><h3>Lý do sữa chua là khoản đầu tư cho sức khỏe lâu dài</h3></a></div>
                </div>
            </div>
        </div>
    </div>

</section>