{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
        <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                <li><a href="#">Thông báo 1</a></li>
                <li><a href="#">Thông báo 2</a></li>
                <li><a href="#">Thông báo 3</a></li>
                <li><a href="#">Thông báo 4</a></li>
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            {{#if lcIsAuthenticated}}
                <a href="#" class="user">
                    <img src="https://drive.google.com/uc?export=view&id={{lcAuthUser.img}}" alt="" class="taskbar__user__img">
                    <ul class="user__options">
                        <li><a href="/setting" class="login">Cài đặt</a></li>
                        <li><a href="/logout" class="regist">Đăng xuất</a></li>
                    </ul>
                </a>
            {{else}}
                <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="/login" class="login">Đăng nhập</a></li>
                    <li><a href="/register" class="regist">Đăng ký</a></li>
                </ul>
                </a>
            {{/if}}
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/surgery">Ngoại khoa</a></li>
                    <li><a href="#">Nội Khoa</a></li>
                    <li><a href="#">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}

<!-- home starts -->

<section class="home billsHome">
    <div class="bills" id="bills">
        <div class="content">
            <div class="bill-title">
                <h2 class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</h2>
                <h2 class="tit">Hoá đơn viện phí tháng 12/2021</h2>
            </div>
            <h3 class="bill-date">Hà Nội, ngày 31 tháng 12 năm 2021</h3>
            <div class="bill-main">
                <h2>Họ và tên: Trần Ngọc Khang</h2>
                <h2>Địa chỉ Email: ngockhang@gmail.com</h2>
                <h2>Số điện thoại: 0356984521</h2>
                <h2>Cách dịch vụ bạn đã sử dụng tư vấn trong tháng qua:</h2>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Dịch vụ</th>
                        <th scope="col">Số lần</th>
                        <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Ngoại khoa chuyên sâu</td>
                        <td>2</td>
                        <td>280.000</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Nhi Khoa thường</td>
                        <td>1</td>
                        <td>80.000</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Nhi khoa chuyên sâu</td>
                        <td>3</td>
                        <td>270.000</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            <div class="total">
                <h3>Tổng tiền: </h3>
                <p>630.000 đồng</p>
            </div>
            <h2 class="ctotal">Thành chữ: sáu trăm ba mươi ngàn đồng</h2>
            <h3 class="warning">*Hoá đơn tính từ ngày tư vấn đầu tiên của tháng, nếu có tư vấn vui lòng liên hệ qua đường dây nóng của chúng tôi</h3>
            <div class="thanks">
                <h3><i class="far fa-check-circle"></i> Cảm ơn bạn đã tin tưởng sử dụng dịch vụ tư vấn khám sức khoẻ của chúng tôi</h3>
            </div>
        </div>
    </div>
</section>