{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
        <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                <li><a href="#">Thông báo 1</a></li>
                <li><a href="#">Thông báo 2</a></li>
                <li><a href="#">Thông báo 3</a></li>
                <li><a href="#">Thông báo 4</a></li>
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            <!-- <img src="./assets/img/9long.png" alt="" class="taskbar__user__img"> -->
            <!-- <ul class="taskbar__account">
            
            </ul> -->
            <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="#" class="login">Đăng nhập</a></li>
                    <li><a href="#" class="regist">Đăng ký</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item active"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/surgery">Ngoại khoa</a></li>
                    <li><a href="#">Nội Khoa</a></li>
                    <li><a href="#">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="#">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="./_consultation.html">Tư vấn</a></li>
            <li class="menu__item"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}


<!-- home starts -->

<section class="home">

<div class="slider">
    <div class="swipper container">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide">
                <div class="slide__content">
                    <img src="/img/banner1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="slide__content">
                    <img src="/img/banner2.png" alt="">
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="slide__content">
                    <img src="/img/banner3.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="news">
    <div class="news__content">
        <div class="news__title title"><span>Tin tức</span></div>
        <div class="news__list">
            <div class="news__main">
                <div class="news__img"><img src="/img/news1.jpg" alt=""></div>
                <a href="#" class="tit">Các nhà nghiên cứu tại viện Nghiên cứu vi sinh vật (ABC) thông báo đã tìm ra một loại kháng thể mới có thể chống lại virus sar covi2</a>
                <span>12 phút trước</span>
                <p>Mới đây, tại hội nghị khoa học quốc gia thường niên lần thư 20 được tổ chức tại trung tâm nghiên cứu ABC, các nhà khoa học ....</p>
            </div>
            <div class="news__sublist">
                <div class="news__item">
                    <div class="news__img subnews"><img src="/img/news2.jpg" alt=""></div>
                    <div class="content">
                        <a href="#" class="tit">Thực hiện khai báo y tế toàn dân đối với các địa phương có ca bệnh covid19</a>
                        <span>2h trước</span>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__img subnews"><img src="/img/news3.jpg" alt=""></div>
                    <div class="content">
                        <a href="#" class="tit">Thủ tướng chính phủ yêu cầu cần hoàn thành việc tiêm vaccine covid19 mũi 2 đối với các địa phương có dịch trước ngày 30/10</a>
                        <span>3h trước</span>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__img subnews"><img src="/img/news4.jpg" alt=""></div>
                        <div class="content">
                            <a href="#" class="tit">Áp dụng khoa học công nghệ trong việc khám sàng lọc các yếu tố có khả năng gây ung thư</a>
                            <span>5h trước</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="article">
    <div class="article__content">
        <div class="article__title title"><span>BÀI VIẾT CHUYÊN MÔN</span></div>
        <div class="article__list">
            <div class="swipper article__container">
                <div class="swiper-wrapper wrapper">
                    <div class="swiper-slide article__box">
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art1.jpg" alt="">
                            </div>
                            <p>Lối sống lành mạnh phòng tránh nguy cơ đột quỵ</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art2.jpg" alt="">
                            </div>
                            <p>Súc họng - xịt mũi: Củng cố phòng tuyến ngừa COVID-19</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art3.jpg" alt="">
                            </div>
                            <p>3 lưu ý ăn uống để khỏe hơn trong mùa COVID-19</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide article__box">
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art4.jpg" alt="">
                            </div>
                            <p>Đột quỵ - mối nguy mọi thời đại</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art5.jpg" alt="">
                            </div>
                            <p>10 điều người dân cần 'nằm lòng' để phòng chống COVID-19</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="article__item">
                            <div class="item__image">
                                <img src="/img/art6.jpg" alt="">
                            </div>
                            <p>Vượt qua stress, trầm cảm mùa COVID-19</p>
                            <div class="article__btn">
                                <p>XEM</p>
                                <div class="btn"><i class="fas fa-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="services__content">
        <div class="services__title title"><span>CÁc dịch vụ</span></div>
        <div class="services__list">
            <a href="#" class="services__link">
                <div class="services__item">
                    <i class="fas fa-clinic-medical"></i>
                    <p>Tư vấn các vấn đề sức khoẻ</p>
                </div>
            </a>
            <a href="#" class="services__link">
                <div class="services__item">
                    <i class="fas fa-user-nurse"></i>
                    <p>Đội ngũ y bác sĩ có chuyên môn cao</p>
                </div>
            </a>
            <a href="#" class="services__link">                       
                <div class="services__item">
                    <i class="fas fa-phone"></i>
                    <p>Sẵn sàng hỗ trợ 24/7</p>
                </div>
            </a>
            <a href="#" class="services__link">   
                <div class="services__item">
                    <i class="fas fa-user"></i>
                    <p>Dễ dàng tạo tài khoản</p>
                </div>
            </a>
            <a href="#" class="services__link">   
                <div class="services__item">
                    <i class="fas fa-credit-card"></i>
                    <p>Dễ dàng thanh toán</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="reviews">
    <div class="reviews__content">
        <div class="reviews__title title"><span>Đánh giá từ bệnh nhân</span></div>
        <div class="swipper reviews__container">
            <div class="swiper-wrapper reviews__wrapper">
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt1.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Nguyễn Văn A</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Tôi bị đau lưng, do dãn cách xã hội theo chỉ thị 16 tôi chưa thể đi khám, may mắn được người bạn giới thiệu tôi đã đăng kí tư vấn khám bệnh online tại Oclinic. Sau 1 tháng bệnh đau lưng của tôi đã hết.
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt3.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Nguyễn Văn Mỹ</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Các bác sĩ có chuyên môn cao và tư vấn rất nhiệt tình. 5 sao cho Oclinic
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt5.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Phụ Thị Đen</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Dịch vụ tư vấn rất tuyệt vời, bệnh dị ứng da của tôi đã giảm đi nhiều. Thật sự cảm ơn Oclinic
                        </p>
                    </div>
                    
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt2.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Trần Văn Sao</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Thực sự dịch vụ rất tốt, nhưng có lúc tôi không gửi được câu hỏi cho bác sĩ. Khi ấn Gửi tôi bị out ra trang chủ. Mong web sớm cải thiện.
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt4.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Hoàng Thị Na</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Tôi hay khám bệnh tại phòng khám ABC, được biết bên phòng khám mới có dự án website tư vấn khám bệnh online Oclinic, tôi đã đăng kí tài khoản để tránh việc đi lại trong mùa dịch. Việc này thật sự giúp tôi tránh việc đi lại khám bệnh đối với các bệnh nhẹ như ho, sốt của gia đình tôi.
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt6.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Phạm Thu Chan</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Tôi lần đầu có em bé nên chưa có nhiều kinh nghiệm trong việc ăn uống đầy đủ dinh dưỡng bà bầu. Được các bác sĩ tư vấn nhiệt tình, tôi đã biết nhiều hơn.
                        </p>
                    </div>
                    
                </div>
                <div class="swiper-slide reviews__slide">
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt8.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Nguyễn Thị Sần</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Rất có ích cho việc khám bệnh, đặc biệt trong mùa dịch này ❤ ❤ ❤
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt7.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Nguyễn Văn Mỹ</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Các bác sĩ có chuyên môn cao và tư vấn rất nhiệt tình. 5 sao cho Oclinic
                        </p>
                    </div>
                    <div class="reviews__box">
                        <div class="reviews__header">
                            <div class="name">
                                <div class="name__img">
                                    <img src="/img/avt5.jpg" alt="">
                                </div>
                                <div class="name__name">
                                    <p>Phụ Thị Đen</p>
                                    <div class="name__stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <p class="content">
                            Dịch vụ tư vấn rất tuyệt vời, bệnh dị ứng da của tôi đã giảm đi nhiều. Thật sự cảm ơn Oclinic
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<div class="free_consultant">
    <div class="free_consultant__content">
        <div class="free_consultant__title title"><span>Tư vấn miễn phí</span></div>
        <form action="#" class="mainform" id="form">
            <div class="mainform__main">
                <div class="mainform__left">
                    <div class="mainform__left__name input">
                        <input type="text" placeholder="Nhập tên của bạn" id="name" name="name">
                        <label for="name">Họ và tên</label>
                    </div>
                    <div class="mainform__left__phonenum input">
                        <input type="text" placeholder="(+84)" id="phone" name="phone">
                        <label for="phone">Số điện thoại</label>
                    </div>
                    <div class="mainform__left__mail input">
                        <input type="email" placeholder="Nhập email của bạn" id="mail" name="mail">
                        <label for="mail">Email</label>
                    </div>
                    <div class="mainform__left__sensitive input">
                        <textarea name="sensitive" id="sensitive" cols="30" rows="10" ></textarea>
                        <label for="sensitive">Tiền sử mẫn cảm</label>
                    </div>
                </div>
                <div class="mainform__right input">
                    <textarea name="symptom" id="symptom" cols="30" rows="10"></textarea>
                    <label for="sympton">Triệu chứng</label>
                </div>
            </div>
            <div class="mainform__submit">
                <button type="submit" form="form" value="submit">Gửi</button>
            </div>
        </form>
    </div>
</div>
</section>