
<!-- home starts -->

<div class="submenu">
    <ul class="submenu__main">
        <li><a href="#">Giới thiệu chung</a></li>
        <li><a href="#oclinic_intro">Tư vấn khám bệnh Online</a></li>
        <li><a href="#payment">Phương thức thanh toán</a></li>
        <li><a href="#payment">Bảng giá dịch vụ</a></li>
    </ul>
</div>
<section class="home homeIntro">
    <div class="general_intro" id="general_intro">
        <div class="content">
            <img src="/img/hosp4.jpg" alt="">
            <h3>Bệnh viện đa khoa ABC</h3>
            <h4>Địa chỉ: Số 64, đường DEF, quận GHI, thành phố OPQ</h4>
            <h4>Giám đốc: Gs Trần Hoàng A</h4>
            <h4>Bệnh viện tư nhân trực thuộc tập đoàn ABC</h4>
            <p class="bio">
                Bệnh viện đa khoa ABC trực thuộc tập đoàn ABC, toạ lạc tại trung tâm thành phố OPQ, từ lâu đã trở thành địa điểm khám chữa bệnh tin cậy của cư dân thành phố cũng như cư dân ngoại thành. Được thành lập từ năm 2010, bệnh viện ABC đã nhanh chóng gặt hái được nhiểu thành công lớn như nghiên cứu thành công phương pháp giảm thiểu tai biến mạch máu não cho người độ tuổi trung niên, công bố đề tài nghiên cứu phòng chống ung thư gan,... Bên cạnh đó, bệnh viện ABC còn dành được nhiểu giải thường y tế lớn từ trong và ngoài nước và trở thành 1 trong top 10 bệnh viện đa khoa hàng đầu Việt Nam 
            </p>
            <h4>Cơ sở vật chất</h4>
            <p>Bệnh viện ABC cung cấp dịch vụ khám chữa bệnh cao cấp với toàn bộ trang thiết bị chất lượng cao, nhập khẩu trực tiếp từ các doanh nghiệp cung cấp trang thiết bị y tế hàng đầu quốc tế</p>
            <img src="/img/hosp1.jpg" alt="Trangthietbi">
            <img src="/img/hosp2.jpg" alt="Trangthietbi">
            <h4>Đội ngũ y bác sĩ</h4>
            <p>Đội ngũ y bác sĩ của bệnh viện ABC là các Giáo sư, 
                Phó giáo sư tiên sĩ với học vấn, chuyên môn cao, nhiều năm kinh nghiệm trong nghề. Với sự tâm huyết, nhiệt tình và kinh nghiệm của mình, các bác sĩ sẽ đem lại trải nghiệm hài lòng cho bệnh nhân. Bên cạnh đó, đội ngũ điều dưỡng, y tá được đào tạo chuyên nghiệp, đạt chuẩn quốc tế. 
            </p>
            <div class="pairs_img">
                <img src="/img/hosp5.jpg" alt="bacsi">
                <img src="/img/hosp6.jpg" alt="bacsi">
            </div>
        </div>
    </div>
    <div class="oclinic_intro" id="oclinic_intro">
        <div class="content">
            <h3>Website tư vấn khám bệnh online Oclinic</h3>
            <h4>Mục đích ra đời</h4>
            <p>Với sự phát triển của công nghệ và để đáp ứng nhu cầu khám chữa bệnh của bệnh nhân trong tình hình dịch Covid19, bệnh viện ABC đã thực hiện dự án "Tư vấn khám bệnh online" với hình thức website. Chỉ với 1 thiết bị thông minh như smartphone, laptop, tablet,... có khả năng kết nối Internet bạn có thể dễ dàng truy cập vào trang web của chúng tôi tại đường link <a href="#">www.oclinic.com</a>. Trang web hỗ trợ bạn đăng kí tư vấn với các bác sĩ của bệnh viện ABC. Bên cạnh đó bạn có thể tìm hiểu thêm thông tin bệnh viện, đọc các bài viết phổ cập kiến thức sức khoẻ.</p>
            <h4>Các chức năng chính</h4>
            <ul class="list">
                <li>- Tư vấn khám bệnh</li>
                <li>- Tư vấn dịch vụ tại bệnh viện ABC</li>
                <li>- Đọc tin tức, bài viết chuyên môn</li>
                <li>- Tìm kiếm thông tin bác sĩ</li>
            </ul>
            <h4>Cách sử dụng trang web:</h4>
            <div class="usage">
                <div class="usage__step">
                    <img src="/img/step1.png" alt="">
                    <div class="usage__step__content">
                        <span>Bước 1:</span>
                        <p>Trên giao diện trang web, di chuột vào user, chọn đăng ký</p>
                    </div>
                </div>
                <div class="usage__step">
                    <div class="usage__step__content">
                        <span>Bước 2:</span>
                        <p>Điền đầy đủ thông tin vào form và nhấn đăng ký</p>
                    </div>
                    <img src="/img/step2.PNG" alt="">
                </div>
                <div class="usage__step">
                    <img src="/img/step3.PNG" alt="">
                    <div class="usage__step__content">
                        <span>Bước 3:</span>
                        <p>Tại user, chọn đăng nhập, điền đầy đủ thông tin đăng nhập và nhấn đăng nhập</p>
                    </div>
                </div>
                <div class="usage__step">
                    <img src="" alt="">
                    <div class="usage__step__content">
                        <span></span>
                        <p></p>
                    </div>
                </div>
                <div class="usage__step">
                    <img src="" alt="">
                    <div class="usage__step__content">
                        <span></span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment" id="payment">
        <div class="content">
            <h3>Hình thức thanh toán viện phí tư vấn</h3>
            <h4>Bệnh nhân sẽ nhận được hoá đơn viện phí vào ngày cuối cùng của tháng và sẽ thanh toán viện phí Online qua 1 trong các tài khoản sau:</h4>
            <div class="container">
                <div class="row row-cols-4">
                    <div class="col">
                        <div class="col__img">
                        <img src="/img/bank1.png" alt="">
                        </div>
                        <div class="col_add">
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__img">
                        <img src="/img/bank2.png" alt="">
                        </div>
                        <div class="col_add">
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__img">
                        <img src="/img/bank3.png" alt="">
                        </div>
                        <div class="col_add">
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__img">
                        <img src="/img/bank4.png" alt="">
                        </div>
                        <div class="col_add">
                            
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="services-cost">
        <div class="content">
            <h3>Bảng giá dịch vụ tư vấn</h3>
            <table class="table">
                <thead>
                    <tr class="table-dark">
                    <th scope="col">STT</th>
                    <th scope="col">Khoa khám</th>
                    <th scope="col">Trình độ bác sĩ</th>
                    <th scope="col">Giá (đồng/lần)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                    <th scope="row">1</th>
                    <td>Ngoại khoa</td>
                    <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                    <td>100.000</td>
                    </tr>
                    <tr class="table-info">
                    <th scope="row">2</th>
                    <td>Ngoại khoa</td>
                    <td>Thạc sĩ</td>
                    <td>60.000</td>
                    </tr>
                    <tr class="table-light">
                    <th scope="row">3</th>
                    <td>Nội khoa</td>
                    <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                    <td>120.000</td>
                    </tr>
                    <tr class="table-info">
                    <th scope="row">4</th>
                    <td>Nội Khoa</td>
                    <td>Thạc sĩ</td>
                    <td>75.000</td>
                    </tr>
                    <tr class="table-light">
                    <th scope="row">5</th>
                    <td>Nhi khoa</td>
                    <td>Giáo sư, Phó Giáo sư, Tiến sĩ</td>
                    <td>90.000</td>
                    </tr>
                    <tr class="table-info">
                    <th scope="row">6</th>
                    <td>Nhi Khoa</td>
                    <td>Thạc sĩ</td>
                    <td>50.000</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</section>