{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
        <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                <li><a href="#">Thông báo 1</a></li>
                <li><a href="#">Thông báo 2</a></li>
                <li><a href="#">Thông báo 3</a></li>
                <li><a href="#">Thông báo 4</a></li>
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            <!-- <img src="./assets/img/9long.png" alt="" class="taskbar__user__img"> -->
            <!-- <ul class="taskbar__account">
            
            </ul> -->
            <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="#" class="login">Đăng nhập</a></li>
                    <li><a href="#" class="regist">Đăng ký</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/surgery">Ngoại khoa</a></li>
                    <li><a href="#">Nội Khoa</a></li>
                    <li><a href="#">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="#">Bài viết chuyên môn</a></li>
            <li class="menu__item active"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}

<!-- home starts -->

<section class="home cltHome">
    <div class="sent" id="sent">
        <div class="content">
            <div class="content__box">
                <div class="content__box__left">
                    <i class="far fa-check-circle"></i>
                </div>
                <div class="content__box__right">
                    <h2>Gửi yêu cầu tư vấn thành công</h2>
                    <p>Bác sĩ của chúng tôi sẽ sớm tư vấn cho bạn</p>
                    <span>Cảm ơn đã sử dụng dịch vụ của chúng tôi!!!</span>
                </div>
            </div>
        </div>
    </div>
</section>