        <section class="doctorSection home">
            <div class="doctorSection__container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                  <div class="container">
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                          {{#each display}}
                        <div class="col">
                            <div class="card" style="width: 25rem;">
                                <div class="card__img">
                                    <img src="{{{this.img}}}" class="card-img-top" alt="Bac si">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{this.name}}</h5>
                                  <a href="#" class="btn btn-primary">Profile</a>
                                </div>
                              </div>
                        </div>
                        {{/each}}
                      </div>
                </div>
            </div>

        </section>