{{!-- header starts --}}
<header class="header">
    <div class="taskbar">
    <div class="taskbar__name">
        <!-- <form action="" ></form> -->
        <input type="search" name="searchBox" id="searchBox" class="taskbar__search">
        <button class="searchBtn" form="searchBox" value="submit"><i class="fas fa-search"></i></button>
        
        <div href="#" class="taskbar__bell">
            <i class="fas fa-bell">
            </i>
            <ul class="annouce_list">
                <li><a href="#">Thông báo 1</a></li>
                <li><a href="#">Thông báo 2</a></li>
                <li><a href="#">Thông báo 3</a></li>
                <li><a href="#">Thông báo 4</a></li>
                <a href="#"><span>XEM TẤT CẢ</span></a>
            </ul>
        </div>
        <div class="taskbar__user">
            <!-- <img src="./assets/img/9long.png" alt="" class="taskbar__user__img"> -->
            <!-- <ul class="taskbar__account">
            
            </ul> -->
            <a href="#" class="user">
                <i class="fas fa-user"></i>
                <ul class="user__options">
                    <li><a href="#" class="login">Đăng nhập</a></li>
                    <li><a href="#" class="regist">Đăng ký</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu__main">                                              
        <a href="/" class="logo"><i class="fas fa-capsules"></i><span>O</span>Clinic</a>
        <ul class="menu__list">
            <li class="menu__item"><a href="/">Trang chủ</a></li>
            <li class="menu__item"><a href="/intro">Giới thiệu</a></li>
            <li class="menu__item news"><a href="/news">Tin tức</a></li>
            <li class="menu__item doctors active"><a href="/doctors">Bác sĩ
                <ul class="doctor">
                    <li><a href="/doctors/surgery">Ngoại khoa</a></li>
                    <li><a href="#">Nội Khoa</a></li>
                    <li><a href="#">Nhi Khoa</a></li>
                </ul>
            </a></li>
            <li class="menu__item large"><a href="/articles">Bài viết chuyên môn</a></li>
            <li class="menu__item"><a href="/consultation">Tư vấn</a></li>
            <li class="menu__item"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
</div>
</header>

{{!-- header ends --}}



<section class="doctorSection home">
    <div class="doctorSection__container">
          <div class="container">
              <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Ngoại khoa
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/doctors">Tất cả bác sĩ</a></li>
                <li><a class="dropdown-item" href="#">Nội khoa</a></li>
                <li><a class="dropdown-item" href="#">Nhi khoa</a></li>
              </ul>
            </div>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                  {{#each display}}
                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <div class="card__img">
                            <img src="https://drive.google.com/uc?export=view&id={{this.img}}" class="card-img-top" alt="Bac si">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{this.name}}</h5>
                          <a href="/doctors/{{this.id_doc}}" class="btn btn-primary">Profile</a>
                        </div>
                      </div>
                </div>
                {{/each}}
              </div>
        </div>
    </div>

</section>