<div class="footer__top">
    <div class="footer__content">
        <div class="footer__support footer__column">
            <h3>Hỗ trợ chăm sóc khách hàng</h3>
            <ul class="list">
                <li><a href="#">Hotline chăm sóc khác hàng 0123456789</a></li>
                <li><a href="#">Các câu hỏi thường gặp</a></li>
                <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                <li><a href="#">Hướng dẫn đăng kí tài khoản</a></li>
                <li><a href="#">Chính sách thanh toán chi phí</a></li>
                <li><a href="#">Hỗ trợ khách hàng: hotro@oclinic.vn</a></li>
                <li><a href="#">Báo lỗi bảo mật: security@oclinic.vn</a></li>
            </ul>
        </div>
        <div class="footer__about footer__column">
            <h3>Về chúng tôi</h3>
            <ul class="list">
                <li><a href="#">Nhóm thực hiện</a></li>
                <li><a href="#">Đỗ Hải Long</a></li>
                <li><a href="#">Lê Văn Nhật</a></li>
                <li><a href="#">Hoàng Văn Nam</a></li>
                <li><a href="#">Nguyễn Mạnh Duy</a></li>
                <li><a href="#">Nguyễn Văn Thắng</a></li>
            </ul>
        </div>
        <div class="footer__contact footer__column">
            <h3>Liên Hệ với chúng tôi</h3>
            <ul class="list">
                <li><a href="#"><i class="fab fa-facebook"></i>https://facebook.com/oclinic _fanpage</a></li>
                <li><a href="#"><i class="fab fa-google"></i>oclinic@gmail.com</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>https://twitter.com/oclinic</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>https://instagram.com/oclinic</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <p>© 2021 - Bản quyền thuộc nhóm 7 KTPMUD - Oclinic.vn</p>
</div>